body {
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
}


/* Config */
:root {
    --color: #012353;
    --stroke-width: 7;
}
  
.loader-svg {
    -webkit-animation: rotation 0.6s infinite linear;
    animation: rotation 0.6s infinite linear;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
